body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  color: #293333;
}
a {
  text-decoration: none;
  background-color: transparent;
}
p {
  font-weight: 300;
}
.section:nth-last-of-type(odd) {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* ////////////////////////////////////////header//////////////////////// */
#welcome-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#frontPage #welcome-screen .video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 1s;
  display: block;
}
.slogan{
  width: 30%;
}
.mask {
  display: block;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  background: linear-gradient(to top left, #5e46bd 0, #0ebbc9 100%);
  opacity: 0.8;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
}
.right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 100px;
}
.mask-more {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background: #f3f5f5;
  opacity: 0.95;
}
/* ////////////////////////content///////////////////// */
#more-life {
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}
#more-life .video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}
#information {
  position: relative;
}
.main-wrap {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  z-index: 10;
  padding: 0 60px;
}
.main-wrap .text {
  margin: 80px 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  width: 66.66667%;
}
.main-wrap .text h2 {
  font-size: 2em;
  margin: 0 0 30px;
}
.main-wrap .text p {
  font-size: 1.4em;
  line-height: 1.4em;
}
.side-image {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  width: 33.33333%;
}
.side-image1{
  display: none; 
 }
.main-image{
  width: 200%;
  height:430px ;
}

@media(max-width:900px){
  .section:nth-last-of-type(odd) {
    width: 100%;
    height: 100vh;
  }
  .mask {
    min-width: 100%;
    min-height: 120%;
  }
  .main-image{
    width: 30px;

  }
  .slogan{
    width: 100%;
  }
  .side-image {
   display: none;
  }
  .side-image1{
   display: block;

  }
  .main-image{
    width: 100%;
    height:180px;
    border-radius: 100%;
    border: 1px solid rgb(7, 7, 26);
    margin-top: 8px;
  }
  .main-wrap .text {
    text-align: left;
    display: inline-block;
    font-size: 15px;
    width: 100%;
  }
  .main-wrap .text p {
    font-size: 1rem;
    line-height: 1rem;
  }
  h2{
    font-size: small;
  }
}
