
.contact {
  padding: 3% 1%;
}
.middle {
  padding: 6% 8%;
  margin-bottom: 40px;
  margin-top: 150px;

}
/* .mt {
  margin-top: 150px;
} */
.side-box {
  background: linear-gradient(to top left, #5e46bd 0, #0ebbc9 100%);
  color: white;
  padding: 1%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-bottom: 80px;
  margin-top: 150px;

}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.btn-color {
  color: #2d4b7b;
}

.info {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .side-box {
    margin-top: 80px;
    margin-bottom: -80px;
  }
  .middle {
    margin-bottom: 0px;
  }
  .contact-info {
    margin-top: 5%;
  }
  .contact-info img {
    margin-bottom: 5%;
  }
  .contact-info h2 {
    margin-bottom: 5%;
  }
}
