#about-me {
  margin-top: 50px;
}

.content p:first-child {
  margin-top: 20px;
}

.certificate-img {
  width: 50%;
  margin: 20px 0px 30px;
}
.heading {
  text-align: center;
  color: red;
  padding: 170px;
}
