#footer {
  background: rgb(129, 127, 127);
  padding: 7% 5%;
}

.footer-container {
  text-align: center;
  color: #fff;
}

.footer-link {
  color: #fff;
  margin: 10px 40px;
}
#footer a:hover {
  color: rgb(219, 215, 215);
}
