.title {
  border-radius: 1px;
  color: #7e7474;
  text-align: center;
  padding: 1%;
  margin: 2px 0 2px 0;
}
.title h2 {
  font-weight: bolder;
}

#profile {
  text-align: center;
  background-color: #373a40;

  padding: 4% 3%;
  margin: 0;
}

.profile-img {
  width: 25%;
  margin-bottom: 10px;
  border: 5px solid darkgray;
  border-radius: 50%;
}
.profile-content {
  text-align: center;
  color: #ccc9c9;
}

@media (max-width: 767px) {
  #profile {
    text-align: center;
    padding: 20% 5%;
    margin: 0;
  }
  .profile-img {
    width: 40%;
    margin-bottom: 15px;
  }
  .profile-text {
    text-align: center;
    color: #fdfcfc;
    font-size: 1.3rem;
  }
  .profile-text-h4 {
    text-align: center;
    color: #fdfcfc;
    font-size: 1.1rem;
  }
  .profile-text-h5 {
    text-align: center;
    color: #fdfcfc;
    font-size: 1rem;
  }
  .title h2 {
    font-weight: bolder;
    font-size: 1.2rem;
  }
}
